@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 200,
    "GRAD" -25,
    "opsz" 48;
}

#root {
  margin: 0;
  text-align: center;
  background-color: white;
  width: 99vw;
}

.navbar {
  height: 100px;
  background-color: rgb(154, 79, 224);
}

.container {
  width: 98vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-bottom: 60px;
  color: white;
}

.card-image {
  width: fit-content;
  height: 250px;
}

.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-text {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
  margin: -30px -20px;
  height: fit-content;
  width: 22vw;
  background-color: #1d1c20;
  padding: 10px;
}

.card-category {
  font-style: italic;
  text-align: left;
}

.card-title {
  font-size: 1.6rem;
  margin-bottom: 0.3em;
}

.more-text {
  display: none;
}

.card-price {
  width: 100px;
  height: 100px;
  background-color: #970c0a;
  margin-left: auto;
  margin-top: -20px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-buy {
  margin: -50px 0 10px 20px;
  float: left;
  display: flex;
}

.card-input {
  width: 2em;
  font-size: 1.3em;
}

.card-input::-webkit-inner-spin-button {
  opacity: 1;
}

.card-cart {
  fill: currentColor;
  font-size: 30px;
  padding: 0.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #bc04046c;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.3em 10em 0 0;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-card {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  padding: 10px;
  border: solid 1px black;
  margin: 10px;
  width: 1000px;
  align-items: center;
  justify-items: center;
}

.cart-card img {
  height: 80px;
}

.footer {
  color: black;
  float: right;
}
